body {
    background-color: black;
    background-image: url("background.png");
    background-repeat: repeat;
    color: white;
} 

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  